<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Create Account</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
            <div class="card container-fluid shadow">
                <div class="card-body container-fluid">
                    <h3 class="card-title text-center">Register</h3>
                    <hr class="my-4">

                    <!-- Alert for error messages -->
                    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
                    <form th:action="@{/register}" th:object="${registerRequest}" method="post">
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input class="form-control" type="text" th:field="*{firstname}" required />
                            <span th:errors="*{firstname}" style="color: red;"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input class="form-control" type="text" th:field="*{lastname}" required />
                            <span th:errors="*{lastname}" style="color: red;"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="email" th:field="*{email}" required />
                            <span th:errors="*{email}" style="color: red;"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" type="password" th:field="*{password}" required />
                            <span th:errors="*{password}" style="color: red;"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input class="form-control" type="password" th:field="*{confirmPassword}" required />
                            <span th:errors="*{confirmPassword}" style="color: red;"></span>
                        </div>
                        <div class="action">
                            <button class="btn btn-primary" type="submit" value="Register" title="Register"><i
                                    class="fas fa-sign-in-alt"></i>&nbsp;Sign in
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>