<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}" lang="en">

<div layout:fragment="content">
    <!-- Toast Container -->
    <div th:replace="~{fragments/toast :: toast(${message}, ${level})}"></div>
    <h2>My borrowed books</h2>
    <hr>
    <!-- Borrowed Books Table -->
    <div th:if="${selectedBook == null}">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Rate</th>
                    <th scope="col"><i class="fas fa-cogs"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book, bookStat : ${books}">
                    <th scope="row" th:text="${bookStat.index + 1}">1</th>
                    <td th:text="${book.title}">Book Title</td>
                    <td th:text="${book.authorName}">Author Name</td>
                    <td th:text="${book.isbn}">ISBN</td>
                    <td>
                        <i class="fas fa-star text-warning"></i>
                        <span th:text="${#numbers.formatDecimal(book.rate, 0, 'COMMA', 2, 'POINT')}">Rating</span>
                    </td>
                    <td>
                        <div class="d-flex gap-2 align-items-baseline">
                            <i th:if="${book.returned}" class="fa-regular fa-paper-plane text-success"></i>
                            <a th:if="${!book.returned}" th:href="@{/feedbacks/{id}(id=${book.id})}"
                                class="text-decoration-none">
                                <i class="fa-solid fa-paper-plane text-primary"></i>
                            </a>
                            <i class="fa-solid fa-circle-check"
                                th:classappend="${book.returnApproved ? 'text-success' : ''}"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <th:block
            th:replace="~{fragments/pagination :: pagination(${currentPage}, ${pageSize}, ${totalPages}, ${currentPage}, @{/books/my-borrowed-books})}">
        </th:block>
    </div>
</div>

</html>