<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Detail</title>
</head>

<body>
    <h1 th:text="${book.title}">Book Title</h1>
    <p><strong>Author:</strong> <span th:text="${book.authorName}"></span></p>
    <p><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></p>
    <p><strong>Synopsis:</strong> <span th:text="${book.synopsis}"></span></p>
    <p><strong>Owner:</strong> <span th:text="${book.ownerName}"></span></p>
    <p><strong>Rate:</strong> <span th:text="${book.rate}"></span></p>
    <p><strong>Archived:</strong> <span th:text="${book.archived ? 'Yes' : 'No'}"></span></p>
    <a th:href="@{/books/{bookId}/toggleArchieve(bookId=${book.id})}">
        <button type="button" title="archived"
            th:text="${book.archived ? 'UnArchived' : 'Archived'}"></button>
    </a>
    <p><strong>Shareable:</strong> <span th:text="${book.shareable ? 'Yes' : 'No'}"></span></p>
    <a th:href="@{/books/{bookId}/toggleShareable(bookId=${book.id})}">
        <button type="button" title="shareable"
            th:text="${book.shareable ? 'Make Not Shareable' : 'Make Shareable'}"></button>
    </a>
    <div>
        <strong>Cover:</strong><br />
        <img th:if="${book.cover != null}" alt="Book Cover" />
        <p th:if="${book.cover == null}">No cover image</p>
    </div>

    <!-- Display Error Message if any -->
    <div th:if="${error}">
        <p th:text="${error}" style="color: red;"></p>
    </div>
</body>

</html>