<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}" lang="en">

<div layout:fragment="content" class="container-fluid py-4">
    <!-- Toast Container -->
    <div th:replace="~{fragments/toast :: toast(${message}, ${level})}"></div>
    <h2>My favourite books</h2>
    <hr>
    <!-- Borrowed Books Table -->
    <div th:if="${selectedBook == null}">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Owner</th>
                    <th scope="col"><i class="fas fa-cogs"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book, bookStat : ${books}">
                    <th scope="row" th:text="${bookStat.index + 1}">1</th>
                    <td th:text="${book.book.title}">Book Title</td>
                    <td th:text="${book.book.authorName}">Author Name</td>
                    <td th:text="${book.book.isbn}">ISBN</td>
                    <td>
                        <i class="fas fa-star text-warning"></i>
                        <span th:text="${#numbers.formatDecimal(book.book.rate, 0, 'COMMA', 2, 'POINT')}">Rating</span>
                    </td>
                    <td th:text="${book.book.owner.username}">
                        Owner
                    </td>
                    <td>
                        <div class="d-flex gap-2 align-items-baseline">
                            <a th:href="@{'/books/' + ${book.book.id} + '/favourite/remove'}">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <th:block
            th:replace="~{fragments/pagination :: pagination(${currentPage}, ${pageSize}, ${totalPages}, ${currentPage}, @{/books/my-borrowed-books})}">
        </th:block>
    </div>
</div>

</html>