<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div layout:fragment="content">
        <h3>Books list</h3>

        <!-- Alert message (success or error) -->
        <div th:if="${message}" class="alert" th:classappend="${level == 'error' ? 'alert-danger' : 'alert-success'}"
            role="alert">
            <p th:text="${message}"></p>
        </div>

        <hr>

        <!-- Books display -->
        <div class="d-flex justify-content-start gap-2 flex-wrap">
            <div th:each="book : ${books}" class="card" style="width: 18rem; margin-bottom: 1rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.title}">Book Title</h5>
                    <p class="card-text" th:text="${book.authorName}">Author</p>
                    <div class="d-flex justify-content-between">
                        <a href="#" th:href="@{/books/{id}(id=${book.id})}" class="btn btn-primary">Details</a>
                        <form th:action="@{/books/borrow}" method="post">
                            <input type="hidden" name="book-id" th:value="${book.id}">
                            <button type="submit" class="btn btn-success"
                                th:if="${book.shareable && book.ownerName != currentUser}">
                                Borrow
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include the pagination fragment -->
        <div
            th:replace="~{fragments/pagination :: pagination(${pageNumber}, ${pageSize}, ${totalPages}, ${currentPage}, '/books')}">
        </div>
    </div>

</body>

</html>