<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}" lang="en">

<head>
    <title th:text="${book != null ? 'Edit Book' : 'Add New Book'} + ' | Book Social Network'">Manage Book</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="p-2">
            <h2>Manage my book</h2>
            <hr>
            <div class="alert alert-danger mt-2" role="alert" th:if="${not #lists.isEmpty(errors)}">
                <p class="p-0 m-0" th:each="error : ${errors}" th:text="${error}"></p>
            </div>
            <div class="d-flex gap-2">
                <form class="row g-3 container" th:action="@{/books/save}" method="post" th:object="${bookRequest}"
                    enctype="multipart/form-data">
                    <div class="col-4">
                        <img class="rounded-1" width="100%" height="100%"
                            th:src="${book != null && book.cover != null} ? @{/{path}(path=${book.cover})} : 'https://source.unsplash.com/user/c_v_r/1900x800'"
                            alt="Book cover">
                        <div class="mt-2">
                            <input type="hidden" name="bookId" th:if="${book != null}" th:value="${book.id}">
                            <input title="book_cover" class="form-control" type="file" id="file" name="file"
                                accept="image/*" onchange="previewImage(this)">
                        </div>
                    </div>
                    <div class="col-8">
                        <input type="hidden" th:if="${book != null}" th:field="*{id}">
                        <div class="col-12">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" th:field="*{title}"
                                placeholder="Book title">
                        </div>
                        <div class="col-md-6">
                            <label for="author" class="form-label">Author name</label>
                            <input type="text" class="form-control" id="author" th:field="*{authorName}"
                                placeholder="Author name">
                        </div>
                        <div class="col-md-6">
                            <label for="isbn" class="form-label">ISBN</label>
                            <input type="text" class="form-control" id="isbn" th:field="*{isbn}">
                        </div>
                        <div class="col-12">
                            <label for="synopsis" class="form-label">Synopsis</label>
                            <textarea rows="4" class="form-control" id="synopsis" th:field="*{synopsis}"
                                placeholder="Book synopsis"></textarea>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" th:field="*{shareable}">
                                <label class="form-check-label" for="gridCheck">
                                    Share me
                                </label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end gap-2 col-12">
                            <button type="submit" class="btn btn-outline-primary" id="saveBtn">
                                <i class="fas fa-save"></i>&nbsp;Save
                            </button>
                            <a th:href="@{/books/my-books}" class="btn btn-link btn text-danger">
                                <i class="fas fa-times"></i>&nbsp;Cancel
                            </a>
                        </div>
                </form>
            </div>
        </div>
        <!-- Script for image preview -->
        <script>
            function previewImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.querySelector('img').src = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                    window.selectedCoverFile = input.files[0];
                }
            }
        </script>
    </div>

</body>

</html>