<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}" lang="en">

<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div layout:fragment="content">
        <h1>Change Password</h1>
        <p th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></p>
        <form th:action="@{/users/change-password}" th:object="${passwordForm}" method="post">
            <div>
                <label for="oldPassword">Old Password:</label>
                <input type="password" id="oldPassword" th:field="*{oldPassword}" required />
                <span th:errors="*{oldPassword}" style="color: red;"></span>
            </div>
            <div>
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" th:field="*{newPassword}" required />
                <span th:errors="*{newPassword}" style="color: red;"></span>
            </div>
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required />
                <span th:errors="*{confirmPassword}" style="color: red;"></span>
            </div>
            <button type="submit">Change Password</button>
        </form>
        <p><a th:href="@{/users/profile}">Back to Profile</a></p>
    </div>
</body>

</html>