<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} + ' | Book Social Network'">Default Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="~{fragments/menu :: menu(${activeTab})}"></div>
    <!-- Main Content Container -->
    <div class="container page-container">
        <!-- Toast Container for notifications -->
        <div class="toast-container" th:replace="~{fragments/toast :: toast(${message}, ${level})}"></div>

        <!-- Main content that will be replaced by each page -->
        <div layout:fragment="content"></div>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>